In [1]:
import pandas as pd

# Working with JSON

In [2]:
pd.read_json('train.json').head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [7]:
pd.read_json('http://ergast.com/api/f1/2004/1/results.json')

                                                      MRData
xmlns                              http://ergast.com/mrd/1.5
series                                                    f1
url             http://ergast.com/api/f1/2004/1/results.json
limit                                                     30
offset                                                     0
total                                                     20
RaceTable  {'season': '2004', 'round': '1', 'Races': [{'s...

# Working with SQL

In [2]:
import pandas as pd